.benefits-content__list {
  display: flex;
  justify-self: center;
  margin-bottom: 30px;
}

.benefits-content__item + .benefits-content__item {
  margin-left: 30px;
}

.benefits-content__link {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.benefits-text {
  display: flex;
  flex-wrap: wrap;
}

.benefits-text-element {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  &:nth-child(4n) {
    margin: 0;
  }
}

.benefits-text__item,
h3 {
  max-width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.benefits-text__paragraph {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-transform: none;
  font-weight: 400;
  margin-top: 10px;
}
